{% extends 'aion/navbarAdmin.html' %}
{% load static %}
{% load aion_extras %}
{% block content %}

{% if loggeduser|has_group:"Administrator" %}
<div class = "container">
    <div class = "section row">
        <p class = "col s12 center adminLogoClass flow-text yellow-text text-darken-3">Admin Menu</p>
    </div>
    <div class="divider"></div>
    <div class = "section row center">
        <div class = "col s6">
            <a href= "{% url 'createProductManager' %}" class="waves-effect waves-light btn amber z-depth-3"><i class="material-icons left">local_mall</i>Create Product Manager</a>
        </div>
        <div class = "col s6">
            <a href= "{% url 'createAccountingManager' %}" class="waves-effect waves-light btn amber z-depth-3"><i class="material-icons right">attach_money</i>Create Accounting Manager</a>
        </div>

</div>
{% endif %}

{% endblock %}
