{% extends 'aion/navigationbar.html' %}
{% load static %}
{% load mathfilters %}
{% load humanize %}
{% block content %}

<!-- This file displays the content of the website -->

<!--
<div class="container" id="about">
    <div class="row">
        <div class="carousel">
            <a class="carousel-item" href="#one!"><img src="{% static "images/watch1.jpg"%}"></a>
            <a class="carousel-item" href="#two!"><img src="{% static "images/watch2.jpg"%}"></a>
            <a class="carousel-item" href="#three!"><img src="{% static "images/watch3.jpg"%}"></a>
            <a class="carousel-item" href="#four!"><img src="{% static "images/watch4.jpg"%}"></a>
            <a class="carousel-item" href="#five!"><img src="{% static "images/watch5.jpg"%}"></a>
        </div>
    </div>
</div>
      <div id="contact">
          Contact
      </div>
<br><br>
<br>
-->
<div class="row">
    <div class="col s2"></div>
    <div class="col s3">
    <H3><Strong>PURCHASE HISTORY</Strong></H3>
    </div>


    <div class="col s2"></div>
</div>

<div class="row">
    <div class="col s2"></div>
    <div class="col s1">
    <H5>DATE</H5>

    </div>
    <div class="col s1">


    </div>
    <div class="col s3"></div>
    <div class="col s1 center">
    </div>
    <div class="col s2 center">
    <H5>AMOUNT</H5>
    </div>
    <div class="col s2"></div>
</div>
<div class="row">

    <div class="col s2"></div>
    <div class="col s8">
        <div class="divider"></div>
    </div>
    <div class="col s2"></div>



</div>


{% for cart in cart_array %}
<div class="row">
    <div class="col s2">

    </div>

    <div></div>

    <div class="col s1">
    <!-- DATE HERE -->
    {{ cart.date_created|date:"D, d M, Y" }}

    </div>
    <div class="col s1"></div>
    <div class="col s3"></div>
    <div class="col s1 center"></div>
    <div class="col s2 center">
        <H5>$ {{ cart.totalsum }}</H5>
    </div>
    <div class="col s2"></div>
</div>


<!--
<div class="row">

    <div class="col s2"></div>
    <div class="col s8">
        <div class="divider"></div>
    </div>
    <div class="col s2"></div>



</div>
-->



<!--
<div class="row">
    <div class="col s2"></div>
    <div class="col s2"></div>
    <div class="col s3"></div>
    <div class="col s1">

    </div>
    <div class="col s2 center">
        <H5>$ {{ cart.totalsum }}</H5>

    </div>

    <div class="col s2"></div>


</div>
-->

<div class="row">

    <div class="col s2"></div>
    <div class="col s8">
        <div class="divider"></div>
    </div>
    <div class="col s2"></div>

</div>
{% endfor %}

<!--
<div class="row">
    <div class="col s2"></div>
    <div class="col s2"></div>
    <div class="col s4"></div>
    <div class="col s1"></div>
    <div class="col s1">
        <a href="#" class="waves-effect waves-light btn amber right_btn edit_btn">CHECK OUT</a>

    </div>

    <div class="col s2"></div>

</div>
-->

<!--
<div class="row">
    <div class="col s2"></div>
    <div class="col s10">
        <h5>Your cart is currently empty.</h5>
    </div>

</div>
-->




<!-- RELOCATE THIS SECTION TO A DIFFERENT FILE LATER -->

{% endblock %}
